server {
    server-name www.{{ item }};
    return 301 $scheme://{{ item }}$request_uri;
}

server {
    listen 80;
    server-name {{ item }};
    root /var/www/{{ item }};

    index index.html index.php;
}
